/* other CSS for your theme goes here */

.secondary-nav {
  background-image: url("/bg.png");
}

/* .router-link-active {
  @apply bg-white p-2 text-primary;
} */

.item-link.btn {
  @apply hover:bg-primary;
}

a.item-link:not(.btn) {
  @apply text-primary !important;
}

a:not(.btn, .nav-btn) {
  @apply text-primary !important;
}

a.footer-link {
  @apply text-white font-sans text-[10.7px] font-[450] tracking-tight !important;
}
